.shopview-container {
  background-image: url('../../../public/about.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.btn-info {
  border-radius: 50%; /* Make the Chat button circular */
}

.btn-success {
  border-radius: 20px; /* Make the Book Slot button rectangular */
}
